<div class="divpai1 d-flex row w-100">
    <div class="divfi1 col-12">
        <h6 style="font-weight: bolder; line-height: 5px;">Olá Luan,</h6>
        <h6 style="font-weight: 400;" class="text-secondary">Bem-vindo ao seu gestor de tarefas!</h6>
    </div>


    <div class="divfi2 col-6">
        <button class="btn btntarefa text-white"><i class="bi bi-plus-square"></i>Nova Tarefa</button>
    </div>
</div>


<div class="divpai2 d-flex row">

    <div class="divfi3 col-12 row">
        <div class="bg-white col-10 d-flex rounded" style="justify-content: space-between;">

            <div style="padding-top: 42px; padding-left: 16px;">
                <h3 style="line-height: 10px; font-weight: bold;">4</h3>
                <p style="font-weight: bold;">to do</p>
            </div>

            <div style="padding-top: 30px;  padding-right: 16px;">
                <div class="rounded"
                    style="height: 45px; width: 45px; background-color: #CDE8E5; align-content: center;  align-content: center; padding-left: 9px; ">
                    <i class="bi bi-opencollective" style="color: blue; font-size: 25px;"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="divfi4 col-12 row">
        <div class="bg-white col-10 d-flex rounded" style="justify-content: space-between;">

            <div style="padding-top: 42px; padding-left: 16px;">
                <h3 style="line-height: 10px; font-weight: bold;">2</h3>
                <p style="font-weight: bold;">doing</p>
            </div>

            <div style="padding-top: 30px;  padding-right: 16px;">
                <div class="rounded d-flex"
                    style="height: 45px; width: 45px; background-color: #E49BFF; align-content: center; padding-left: 9px; padding-top: 4px;">
                    <i class="bi bi-calendar2-week-fill" style="color: purple; font-size: 25px;"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="divfi5 col-12 row">
        <div class="bg-white col-10 d-flex rounded" style="justify-content: space-between;">

            <div style="padding-top: 42px; padding-left: 16px;">
                <h3 style="line-height: 10px; font-weight: bold;">64</h3>
                <p style="font-weight: bold;">done</p>
            </div>

            <div style="padding-top: 30px;  padding-right: 16px;">
                <div class="rounded"
                    style="height: 45px; width: 45px; background-color: #B3E2A7; align-content: center;  align-content: center; padding-left: 9px; padding-top: 2px;">
                    <i class="bi bi-check-circle-fill" style="color: green; font-size: 25px;"></i>
                </div>
            </div>
        </div>


        