.divpai1 {
  justify-content: space-between;
  padding-top: 180px;
  padding-left: 30px;
}

.divpai2 {
  background-color: white;
}

.divfi1 {
  height: 60px;
}

.divfi2 {
  height: 60px;
}

.divfi3 {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.btntarefa {
  background-color: #3f1ae4;
  font-weight: 500;
}

.btntarefa,
i {
  padding-right: 10px;
}

.filter {
  background-color: white;
  border: 2px solid  hsla(204, 88%, 68%, 0.438);
  color: black;
}


.table {
margin-top: 30px;
}